*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Opdracht 3/BankJCF42/target/
/Opdracht 2/auction/target/
/Opdracht 3/auction/bin/target/
/Opdracht 3/auction/target/
/Opdracht 4/auction/target/
/Webservices/CalculatorService/target/
/Opdracht 7 - Generate/EncryptieGenerate/nbproject/private/
/Opdracht 7 - Generate/Encryptie/nbproject/private/
/Opdracht 7 - Generate/Encryptie/build/
/Opdracht 7 - Generate/Encryptie/dist/
/Opdracht 7 - sigToVerify/sigToVerify/nbproject/private/
/Opdracht 7 - sigToVerify/sigToVerify/build/
/Opdracht 7 - sigToVerify/sigToVerify/dist/